body{
    /* height: 100vh; */
    background-image: url('background.jpg');
    background-size:cover;
    background-attachment: fixed;
    font-family: "Macondo", sans-serif;
}
h1, p {
    margin: 0;
}

header{
    text-align: center;
    margin: 10vh 0;
    color: brown;
}
header h1{
    /* border: 1px solid black; */
    font-size: 100px;
    font-weight: 900; 
     
}

header p {
    font-size: 30px;
    font-style: oblique;
    margin-top: 5vh;
}
.keys{
    display: flex;
    gap: 2%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.key{
    font-size: 2rem;
    border: 1px solid gray;
    flex: 0 1 5%; 
    background-color: #da9c20;
    padding: 5px 0px;
    text-align: center; 
    transition: all 0.7s; 
     
}

.playing{
    transform:scale(1.2);
    border: 3px solid rgb(255, 196, 0);
    box-shadow: 3px 4px;
}
.sound{
    font-size: 1rem;
    display: block;
    text-transform: capitalize;
    color:brown;
}